<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>表单</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body>

<h2>创建表</h2>
<form action="http://127.0.0.1:8080/dev/createtable" method="post" enctype="multipart/form-data">
    <button>创建表</button>
</form>
<h1>文件测试</h1>

<!--<h2>不加密上传</h2>
<form action="http://127.0.0.1:8080/dev/noencryptupload" method="post" enctype="multipart/form-data" target="iframe">
    选择文件:
    <input type="file" name="noEncryptUpload">
    <input type="submit" value="提交">
</form>
<iframe name="iframe" width="400px" height="100px" frameborder="0"></iframe>-->

<div id="app">
    <input type="file" @change="getFile($event)" />
    <button @click="upload">上传</button>
    <div>{{ result }}</div>
    <div v-show="uping==1">正在上传中</div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            upath: '',
            result: '',
            uping:0
        },
        methods: {
            upload: function () {
                var zipFormData = new FormData();
                zipFormData.append('noEncryptUpload', this.upath);
                let config = { headers: { 'Content-Type': 'multipart/form-data' } };
                this.uping = 1;
                this.$http.post('http://127.0.0.1:8080/dev/noencryptupload', zipFormData,config).then(function (response) {
                    console.log(response);
                    console.log(response.data);
                    console.log(response.bodyText);
                    var resultobj = response.data;
                    this.uping = 0;
                    this.result = resultobj.msg;
                });
            },

            getFile: function (even) {
                this.upath = event.target.files[0];
            }
        }
    });
</script>


<h2>加密上传</h2>
<form action="http://127.0.0.1:8080/dev/encryptupload" method="post" enctype="multipart/form-data">
    选择文件:
    <input type="file" name="encryptUpload">
    <input type="submit" value="提交">
</form>

<h2>下载</h2>
<form action="http://127.0.0.1:8080/dev/download" method="post" enctype="multipart/form-data">
    id:
    <input type="text" name="id">
    下载至(路径)：
    <input type="text" name="path">
    <input type="submit" value="提交">
</form>

<h2>删除</h2>
<form action="http://127.0.0.1:8080/dev/delete" method="post" enctype="multipart/form-data">
    id:
    <input type="text" name="id">
    <input type="submit" value="提交">
</form>

<form action="http://127.0.0.1:8080/dev/selectstorage" method="post" enctype="multipart/form-data">
    <button>查看数据库信息</button>
</form>

<form action="http://127.0.0.1:8080/dev/insertkey" method="post" enctype="multipart/form-data">
    <button>创建密钥</button>
</form>

<h2>查看文件信息</h2>
<form action="http://127.0.0.1:8080/dev/seek" method="post" enctype="multipart/form-data">
    id:
    <input type="text" name="id">
    <input type="submit" value="提交">
</form>

</body>

</html>